{% extends "structure.html" %}

{% block main %}
<h1> Hey People,About myself :</h1>
<img src="../static/img/mask.png" align="right">
<p> I am mask, graduated with bechalor's in Computer Science Engineering 2020. 
    I have always had an avid interest in computers and had always thought 
    myself as the huge fan of coding and managing projects.From Internet of things to Modelling in 3d 
    application, I have been learning and applying these technolgies to make the machines, 
    a bit more smarter.</p>

   <h2>{{message}}</h2> 


{% endblock main %} 