{% extends "structure.html" %}

{% block main %}
<h1> To-Do List Privacy Policy</h1>
<p>
    If you are a To-do list app developer, the Privacy Policy Guidance requires that you inform your 
    users about what data you collect, why you collect it, and what you do with it. If you don't
     have one at all, users may assume you're collecting a lot of personal information and not 
     disclosing it rather than not collecting any. Hence, we would like to state that To-do list is just
     for learning purpose and not a commercial app and you can trust this app.
</p>


{% endblock main %} 