<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset = "utf-8">
    <link rel="stylesheet" href="static/css/style.css">
    <title>My APP</title>
</head>

<body>
    <h1> To-Do List Application</h1>
    <p align="Right"><a href = "/Privacy">Privacy info </a></p>
    <p align="Right"><a href = "/Terms_of_Use">Terms of Use </a></p>
    <p align="Right"><a href = "/about">About us </a></p>

    <div>
        {% block main %}

        <h1>  Keep smiling :) </h1>

        {% endblock main %}
    </div>


</body>
</html>